html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.content-container {
    padding: 0 10%;
    margin-top: 2em;
}

.navbar {
    padding-left: 2em;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.manage-table-container {
    display: inline-block;
    float: left;
    width: 60%;
    margin-right: 5%;
}

table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th {
    color: #F3F3F3;
    background-color: #3A3B3C;
    height: 2.5em;
    padding: 0.5em;
    text-align: center;
}

table tr {
    height: 2em;
}

table tr:nth-child(even) {
    background-color: #CCCCCC;
}

table td {
    padding: 0.5em;
}

.add-form {
    position: relative;
    display: inline-block;
    width: 35%;

}

.update-form {
    position: relative;
    display: inline-block;
    width: 35%;
}

.text-field {
    width: 100%;
    height: 2.25em;
}

.form-input {
    margin-bottom: 0.25em;
}

.submit-button {
    height: 2.25em;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 0.85em;
    background: #559161;
    color: #F3F3F3;
    margin-top: 0.5em;
}

.cancel-button {
    background: #C9CACC;
    color: #000000;
    font-weight: 500;
}



