<html>
    <head>
        <title>Home nVentory Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Home nVentory</h1>
        <h2>We heard you need a new password!</h2>
        <p>
            Hi {{firstname}} {{lastname}},
            <br>
            We heard you need a new password, don't worry it happens to the best of us.
            <br>
            All you need to do is click the link below and you'll be on your way!
            <br>
            <a href="{{link}}">{{link}}</a>
            <br>
            If you did not request a password reset, please disregard this email.
        </p>
    </body>
</html>
