<html>
    <head>
        <title>Home nVentory Confirm Account</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Home nVentory</h1>
        <h2>Welcome to Home nVentory!</h2>
        <p>
            Hi {{firstname}} {{lastname}},
            <br>
            We're glad you're here!
            <br>
            All you need to do is click the link below and your account will be activated and ready to use!
            <br>
            <a href="{{link}}">{{link}}</a>
            <br>
            If you did not create this account, please disregard this email.
        </p>
    </body>
</html>
